@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #A16161;
  color:#fff;
}
.hero-bg{
  background: url('https://images.unsplash.com/photo-1556905055-8f358a7a47b2?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80');
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
  width:100%;
  height:50vh;
}